{% extends "base.html" %}

{% block title %}
  Login
{% endblock %}

{% block body %}

<h1> Please Login here </h1>
{% if message%}
<div>
    {{ message }}
</div>
{% endif %}

<form action = "{% url 'login'%}" method = "post">
  {% csrf_token %}
  <input name ="username" type = "username" placeholder="Username"/>
  <input name = "password" type = "password" placeholder = "Password"/>
  <input type = "Submit" placeholder="Submit"/>

<p><a href = "{% url 'register'%}">New User? Register here </a> </p>
{% endblock %}
