<html lang="en" class="windows desktop landscape" style="font-size: 13.05px;"><head>
  <meta charset="UTF-8">
  <title>PonnPoker - Poker without Download or Login</title>
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli:100,300,400,700" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <link rel="icon" type="image/png" href="https://poker-now.s3.amazonaws.com/favicon.png">
<link href="https://poker-now.s3.amazonaws.com/fonts-d5f93f6b4311b1c8c4b4.css" rel="stylesheet">
<style>

@font-face {
	font-family: "Utils";
	src: url("https://poker-now.s3.amazonaws.com/f287c5d860af357e7c43-Utils.woff") format("woff");
}

input:focus,button:focus,input:focus,button:active,textarea:focus,textarea:active{outline-width:0;tap-highlight-color:transparent}input:disabled{opacity:.5}body{height:100%;width:100%;background:url(https://cdn.wallpapersafari.com/20/17/vBbni9.jpg)

</style>

</head>


<div class="main-call">
  <p class="beta-sign">Beta</p>
  <h1 class="title">PonnPoker</h1>
  <p class="call">No download and no bullshit, just send the room link and play</p>
</div>



<div id="main-home-container">
  <div class="intro-main-form-container">
    <h2 class="title-2" style="color:white">Create a Private Game</h2>

    <form action = "{% url 'joinRoom'%}" method = "post" class="main-form-1">
      {% csrf_token %}
      <div class="form-1-two-columns">
        <div class="form-1-input-control"
        ><label for="game-big-blind">Small Blind Value</label>
        <div class="field-with-upper-text">
          <input id="game-big-blind" type="text" required="" value="10">
        </div>
      </div>
      <div class="form-1-input-control">
        <label for="game-big-blind">Big Blind Value</label>
        <div class="field-with-upper-text">
          <input id="game-big-blind" type="text" required="" value="20">
        </div>
      </div>
    </div>
    <div class="form-1-two-columns" style="height: 4.8rem;">
      <div class="form-1-input-control">
        <label for="player-stack">Your Stack</label>
        <div class="field-with-upper-text">
          <input id="game-player-stack" type="text" required="" value="1000">
          <label for ="player_name">Player Name</label>
          <input name="player_name" id="player_name" type="text" placeholder = "Player Name" required="" value="">
          <input formaction="{% url 'createRoom' %}" class="button-1" type="submit" value="Create Room">
        <label for="roomCode">Room Code</label>
        <input name = "roomCode" id="roomCode" type="text" maxlength="9" placeholder="Room Code" value="">
        <input name = "Submit" class="button-1" type="submit" value="Join Room">
    </form>
  </div>
</div>
