{% extends "base.html" %}

{% block title %}
<h1> Welcome </h1>
{% endblock %}

{% block body %}
<div id="main-home-container">
  <div class="intro-main-form-container">
    <h2 class="title-2" style="color:white">Create a Private Game</h2>
    
    <form action = "{% url 'joinRoom'%}" method = "post" class="main-form-1">
      {% csrf_token %}
      <div class="form-1-two-columns">
        <div class="form-1-input-control"
        ><label for="game-big-blind">Small Blind Value</label>
        <div class="field-with-upper-text">
          <input id="game-big-blind" type="text" required="" value="10">
        </div>
      </div>
      <div class="form-1-input-control">
        <label for="game-big-blind">Big Blind Value</label>
        <div class="field-with-upper-text">
          <input id="game-big-blind" type="text" required="" value="20">
        </div>
      </div>
    </div>
    <div class="form-1-two-columns" style="height: 4.8rem;">
      <div class="form-1-input-control">
        <label for="player-stack">Your Stack</label>
        <div class="field-with-upper-text">
          <input id="game-player-stack" type="text" required="" value="1000">
          <input formaction="{% url 'createRoom' %}" class="button-1" type="submit" value="Create Room">
        <label for="player-name">Room Code</label>
        <input name = "roomCode" id="player-name" type="text" maxlength="9" placeholder="Room Code" value="">
        <input name = "Submit" class="button-1" type="submit" value="Join Room">
    </form> 
  </div>
</div>
{% endblock %}